<!DOCTYPE html>
<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
    <link rel='stylesheet' href='../stylesheets/style.css' />
    </script>
    <meta charset="utf-8">
    <title>{{title}}</title>
</head>

<body>
    <!-- Nav Bar -->

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                <a class="navbar-brand" href="/">Galvanize Reads</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/authors">Authors</a></li>
                    <li><a href='/add-author'>Add Author</a></li>
                    <li><a href="/books">Books</a></li>
                    <li><a href='/books-add'>Add Book</a></li>
                </ul>
                </ul>
            </div>
        </div>
    </nav>
    <div id='landingPage' class="row">

        <a href='/authors'>
            <div id='indexAuthor' class="col-xs-6 col-centered">
                <h4>Authors</h4>
            </div>
        </a>


        <a href='/books'>
            <div id='indexBook' class="col-xs-6 col-centered">
                <h4>Books</h4>
            </div>
        </a>

</body>







</html>
